@charset "utf-8";
body {
    background: white;
    margin: 0 auto;
    text-align: center;
}
#conteneur { /* div id conteneur */
    margin: 0 auto;
    width: 1000px;
}

header { /* la tete de page */
    font-size: 1.8em;
    height: 100px;
    background: #fff;
    text-align: center;
}

ul li { /* afin de mettre au centre */
    display: inline-block;
    text-align: center;
}

.nav_droite1 {
    float: right;
}

img {
    float: left; /* pour pouvoir mettre l'image à gauche */
}
.coté_gauche {
    display: inline-block;
    text-align: left;
}
.droite {
  text-align: left;
    display: inline-block; /* pour l'aligner au même niveau */
}
.nav_droite2, .service { /* pour mettre le texte à droite  */
 
    text-align: right;
    display: inline-block; /* pour l'aligner au même niveau */
}

.nav_gauchetexte { /* pour mettre le texte à droite */
    display: inline;
    text-align: left;
    
}
.dressage {
    float: right;
    text-align: left;
    margin-left: 10em;
    }

.goût {
    display: inline-block;
}
