@charset "utf-8";
body {
    background: white;
    margin: 0 auto;
    text-align: center;
}
#conteneur {
    margin: 0 auto;
    width: 1000px;
}
h1, h2 {
    font-size: 0.8em;
}
header {
    font-size: 1.8em;
    height: 100px;
    background: #fff;
}
img {
    float: left;
}
P {
    margin: 0 auto;
    margin-bottom: 20px;
}   
.chaise {
    float: right;
    text-align: left;
    bottom: 100%
}
.p_deux {
    margin: 0 auto;
    width: 500px;
    height: 30px;
    float: left;
    margin-bottom:10 px;
    clear: both;
}
.menu {
    float: left;
    margin-right: 10%;
}
.desert {
    float: right;
}
.plat {
    float: left;
}
.h2_un {
    text-align: start;
    float: left;
    margin-bottom: 50px;
    height: 50px;
}
h2_zero {
    float: left;
    margin: 0 auto;
    width: 500px;
    height: 30px;
}